---
import BaseLayout from "@layouts/BaseLayout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { formatDate } from "@utils/FormatDate";

export async function getStaticPaths() {
    const blogPosts = await getCollection('blog');

    return blogPosts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
};

interface Props {
    post: CollectionEntry<'blog'>,
};

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description} name="blogpage">
    <h1>{post.data.title}</h1>
    <time datetime={post.data.pubDate.toISOString()}>
        {formatDate(post.data.pubDate)}
    </time>
    <Content />
</BaseLayout>