---
import BaseLayout from "@layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "@utils/FormatDate";
import { SortBlogPosts } from "@utils/SortBlogPosts";

const title = "Blog";
const description = "Lists of my blog posts";

const blogPosts = SortBlogPosts(await getCollection('blog'));
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>
        Here you can see lists of my blog posts. I post about my thoughts,
        technology, life and so on.
    </p>
    {
        blogPosts.map((post) => (
            <article>
                <h2>
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </h2>
                <p>{post.data.description}</p>
                <time>{formatDate(post.data.pubDate)}</time>
            </article>
        ))
    }
</BaseLayout>
