---
import BaseLayout from "@layouts/BaseLayout.astro";
import { formatDate } from "@utils/FormatDate";

const title = "Blog";
const description = "Lists of my blog posts";

const blogPosts = (await Astro.glob("./blog/*.md")).sort(
    (a, b) =>
        new Date(b.frontmatter.pubDate).valueOf() -
        new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title={title} description={description}>
    <h1>{title}</h1>
    <p>
        Here you can see lists of my blog posts. I post about my thoughts,
        technology, life and so on.
    </p>
    {
        blogPosts.map((post) => (
            <article>
                <h2>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </h2>
                <p>{post.frontmatter.description}</p>
                <time>{formatDate(post.frontmatter.pubDate)}</time>
            </article>
        ))
    }
</BaseLayout>
