---
import BaseLayout from "@layouts/BaseLayout.astro";
import profile from "@images/profile.webp";
import Repo from "@components/Repo.astro";

type pinnedRepos = {
    owner: string;
    repo: string;
    link: string;
    description: string;
    image: string;
    language: string;
    languageColor: string;
    stars: number;
    forks: number;
};

const pinnedRepos = await fetch(
    "https://gh-pinned-repos.egoist.dev/?username=shutosheep"
).then(async (response) => {
    return response.json();
});
---

<BaseLayout>
    <div class="intro">
        <div>
            <img
                class="profile"
                src={profile}
                width="250px"
                height="250px"
                alt="Profile picture of me"
            />
        </div>
        <div>
            <h1>Hi I'm Shuto 👋</h1>
            <p>
                I'm a random 19 years old Japanese guy who loves computers and
                software.
            </p>
            <p>
                I am currently studying in the university, busy with assignments
                and exams. In my free time I like to write some code, listen to
                music.
            </p>
        </div>
    </div>
    <h2>My Github repos</h2>
    <section class="repos">
        {
            pinnedRepos.map((repo) => {
                return (
                    <Repo
                        owner={repo.owner}
                        repo={repo.repo}
                        link={repo.link}
                        description={repo.description}
                        language={repo.language}
                        stars={repo.stars}
                        forks={repo.forks}
                    />
                );
            })
        }
    </section>
</BaseLayout>

<style>
    .intro {
        display: flex;
        margin-top: 1.5rem;
    }

    .intro div:last-child {
        margin-left: 2rem;
        align-self: center;
    }

    .intro div:first-child img {
        border-radius: 50%;
    }

    .repos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    @media (max-width: 48rem) {
        .intro {
            margin-top: 0;
            flex-direction: column-reverse;
            text-align: center;
        }

        .intro div:last-child {
            margin-left: 0;
        }

        .repos {
            grid-template-columns: repeat(1, 1fr);
        }
    }
</style>
