---
import landchad from "@images/landchad.gif";
import sadgrl from "@images/button-new.gif";
import basedcooking from "@images/basedcooking.gif";
import wiby from "@images/wiby.gif";
import debian from "@images/button-2.gif";
---

<div>
    <a href="https://landchad.net/" rel="external noopener" target="_blank">
        <img
            src={landchad}
            width="88"
            height="31"
            alt="landchad.net"
        />
    </a>
    <a href="https://sadgrl.online/" rel="external noopener" target="_blank">
        <img
            src={sadgrl}
            width="88"
            height="31"
            alt="sadgrl.online"
        />
    </a>
    <a href="https://based.cooking/" rel="external noopener" target="_blank">
        <img
            src={basedcooking}
            width="88"
            height="31"
            alt="based.cooking"
        />
    </a>
    <a href="https://wiby.me/" rel="external noopener" target="_blank">
        <img src={wiby} width="88" height="31" alt="wiby.me" />
    </a>
    <a href="https://www.debian.org/" rel="extermal noopener" target="_blank">
        <img
            src={debian}
            width="88"
            height="31"
            alt="debian.org"
        />
    </a>
</div>

<style lang="scss">
    div {
        a {
            text-decoration: none;
        }
    }
</style>
