---
import { Icon } from "astro-icon";

export interface Props {
    owner: string;
    repo: string;
    link: string;
    description: string;
    language: string;
    stars: number;
    forks: number;
}

const { owner, repo, link, description, language, stars, forks } = Astro.props;
const userName = 'shutosheep';
---

<a href={link} target="_blank" rel="external noopener">
    {
        owner == userName ? (
            <h3>{repo}</h3>
        ) : (
            <h3>{owner + "/" + repo}</h3>
        )
    }
    <p>{description}</p>
    <p>
        <span>
            {language}
        </span>
        {
            stars != 0 ? (
                <span>
                    <Icon name="ph:star" />
                    {stars}
                </span>
            ) : (
                <span />
            )
        }
        {
            forks != 0 ? (
                <span>
                    <Icon name="ph:git-fork" />
                    {forks}
                </span>
            ) : (
                <span />
            )
        }
    </p>
</a>

<style>
    a {
        padding: 0.5rem 1rem;
        border: 1px solid var(--fg-color);
        border-radius: 0.75rem;
        text-decoration: none;
        transition-duration: 0.2s;
    }

    a:hover {
        transform: scale(1.05);
        transition-duration: 0.2s;
    }

    a p:last-child {
        display: flex;
        gap: 0.5rem;
    }

    [astro-icon] {
        width: 1rem;
        height: 1rem;
        vertical-align: text-top;
    }
</style>
